genre url : 

https://api.themoviedb.org/3/genre/movie/list?api_key=c6c6830bf220e88fe3aa7d26725e4184&language=en-US

https://api.themoviedb.org/3/discover/movie?api_key=c6c6830bf220e88fe3aa7d26725e4184&page=1&with_genres=27

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Movie Finder</a>


    <input  v-if="transition" v-if="show" class=" form-control form-control-dark w-100"  v-model="searchKey" type="text" placeholder="Search a movie" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li  v-if="show" class=" nav-item text-nowrap">
      <button  v-on:click="searchMovies" class="container btn-success">Search</button>
      </li>
    </ul>

  </nav>




  <div class="  card mb-4 box-shadow">
    <img class="img-fluid"    v-bind:src="'https://image.tmdb.org/t/p/w200/'+ item.poster_path"  v-bind:alt="item.title">
    <div class="card-body">
      <h5 class="text-primary">Title : {{item.title}}</h5>
      
      <p class="card-text">{{item.overview.slice(0,250)+'...'}}</p>
      </div>
         <small class="text-primary ml-2 mb-2 ">Realase date : {{item.release_date}}</small>
    </div>





       
    data:{
      searchKey:'',
      moviesFinded:[],
     
  },
  methods:{
      
      searchMovies()
      {   
          
          var url = `https://api.themoviedb.org/3/search/movie?api_key=${API_KEY}&query=` +this.searchKey;
          fetch(url)
          .then(response=>response.json())
          .then(data=>{
              this.moviesFinded=data
            
          })
      }

  }


  <div class="row"  v-for="finder in moviesFinded.results" >
    <movie-finder v-bind:movie="finder"></movie-finder>  
        </div>
           



        <div v-for="finder in moviesFinded.results.slice(0, 12)" class="col-md-3">
          <div  class="  card mb-4 box-shadow">
           
            <img class="img-fluid"   v-bind:src="'https://image.tmdb.org/t/p/w200/'+ finder.poster_path"  v-bind:alt="finder.title">
            

           
            </div>


        </div>

        links: [
        {        
          text: "Search",
          route: "/"
        },
        {   
          text: "Movies Idea",
          route: "/moviesidea"
        },
        {
          text: "Shows Idea",
          route: "/showsidea"
        },
        {
          text: "Top Rated Movies",
          route: "/top-rated-movies"
        },
        {
          text: "Top Rated Shows",
          route: "/top-rated-shows"
        }
      ]




      <div class="fixed-top sidebar-container">
        <div class="sidebar-logo">
          Movie Finder
        </div>
        <ul class="sidebar-navigation">
          <li class="header">Navigation</li>
             <li>
            <a v-on:click="showSearch()" href="#">
              <i class="fa fa-info-circle" aria-hidden="true"></i> Search a movie
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-home" aria-hidden="true"></i> Movies Ideas
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-tachometer" aria-hidden="true"></i> Top Rated Movies
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-users" aria-hidden="true"></i> Shows Ideas
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog" aria-hidden="true"></i> Top Rated Shows
            </a>
          </li>
      <!-- <li class="header">Trending movies</li> -->
           
          <!-- <li class="fixed-bottom" v-for="item in trendingMovies.results.slice(0, 5)">
          <p  v-if="item.title"  class="ml-3 ">{{item.title}}</p>
      <p v-if="!item.title"  class="">Error data missing ! </p>
          </li> -->
      
        </ul>
              
      </div>




      
<div class="fixed-top sidebar-container">
  <div class="sidebar-logo">
    Movie Finder
  </div>
  <ul class="sidebar-navigation">
   <li class="header">Navigation</li>
       <li  v-for="link in links" :key="link.route" link :to="link.route" exact="true">
      <a v-bind:href="link.route">
        <i class="fa fa-info-circle" aria-hidden="true"></i> {{link.text}}
      </a>
    </li>
  </ul>

    
        
</div>